* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 67%, rgba(0,212,255,1) 100%);

}

.container {
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.container h1{
    text-align: center;
    color: white;
    padding: 30px 0px;
}

.container input{
    padding: 10px 10px;
    width: 83%;
    font-size: 18px;
    border-radius: 5px;
}

.container button{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    background-color: red;
    color: White;
    border-radius: 5px;
}


.container ul{
    margin-top: 30px;
}

.container ul li{
    background-color: beige;
    padding: 10px;
    border-radius: 7px;
    font-size: 18px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
}

.complete {
    background-color: red !important;
    color: white;
    text-decoration: line-through;
}

.container ul li span{
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 10px;
    width: 20px;
}